*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
}
h1,.this{
    width: 100px;
    height: 50PX;
    color: bisque;
    background-color: black;
    border-radius: 40px;
    text-align: center;
}