:root {
  --pri: rgb(239 250 234);
  --sec: rgb(156 227 130);
  --sec2: rgb(72 166 38);
  --tri: rgb(54 125 28);
  --tri2: rgb(18 42 9);
}

@font-face {
  font-family: light;
  src: url(./assests/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: bold;
  src: url(./assests/AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: normal;
  src: url(./assests/AeonikTRIAL-Regular.otf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: var(--pri);
}

html,
body {
  font-family: normal;
  width: 100%;
  height: 100%;
  background-color: var(--tri);
}

.main {
  background-color: var(--tri2);
}
.main nav {
  height: 91px;
  width: 100%;
  background-color: var(--pri);
}
.main .allElem {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  align-items: first start;
  padding: 30px;
  gap: 30px;
}
.main .allElem .card {
  height: 350px;
  width: 250px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 30px;
  transition: all 0.3s;
}
.main .allElem .card .elem {
  background-color: #1a1a1a;
  border-radius: 30px;
  transition: all 0.2s;
  height: 350px;
  width: 250px;
  backdrop-filter: blur(9.2px);
  overflow: hidden;
}
.main .allElem .card .elem h2 {
  position: absolute;
  font-size: 30px;
  right: 5%;
  bottom: 4%;
}
.main .allElem .card .elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullElem {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--tri2);
  z-index: 999;
  top: 0;
}
.fullElem .close-container {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}
.fullElem .close-container .leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.fullElem .close-container .rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}
.fullElem .close-container label {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.fullElem .close-container .close1 {
  margin: 55px 0 0 5px;
  position: absolute;
}

#to_do_page h2 {
  font-size: 65px;
}
#to_do_page .todo-container {
  height: 100vh;
  width: 100%;
  margin-top: 40px;
  background-color: var(--sec);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#to_do_page .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: rgb(206, 222, 237);
  border-radius: 20px;
}
#to_do_page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
}
#to_do_page .todo-container .addTask form input[type=text] {
  padding: 10px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
}
#to_do_page .todo-container .addTask form textarea {
  padding: 10px 25px;
  width: 100%;
  height: 280px;
  font-size: 28px;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
}
#to_do_page .todo-container .addTask form button {
  padding: 10px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--tri);
  border-radius: 5px;
  font-weight: 700;
  border: none;
  outline: none;
  transition: all ease-in 0.3;
  cursor: pointer;
}
#to_do_page .todo-container .addTask form .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-left: 8px;
  width: 100%;
  gap: 30px;
}
#to_do_page .todo-container .addTask form .mark-imp label {
  font-size: 20px;
}
#to_do_page .todo-container .addTask form .mark-imp input {
  scale: 1.5;
}
#to_do_page .todo-container .allTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  border-radius: 20px;
  width: 65%;
  height: 100%;
  background-color: rgb(212, 237, 208);
  padding: 30px;
}
#to_do_page .todo-container .allTask .task {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: var(--pri);
}
#to_do_page .todo-container .allTask .task h5 {
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#to_do_page .todo-container .allTask .task h5 span {
  border-radius: 50px;
  padding: 4px 6px;
  background-color: red;
  color: white;
  font-size: 10px;
}
#to_do_page .todo-container .allTask .task h5 span.true {
  opacity: 1;
}
#to_do_page .todo-container .allTask .task h5 span.false {
  opacity: 0;
}
#to_do_page .todo-container .allTask .task button {
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(3, 118, 35);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#daily_planner_page h2 {
  font-size: 65px;
}
#daily_planner_page .day-planner {
  background-color: #7f2e2e;
  height: 85%;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
}
#daily_planner_page .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  width: 49%;
}
#daily_planner_page .day-planner .day-planner-time p {
  position: absolute;
  top: 10%;
  left: 1%;
  color: black;
  font-size: 18px;
}
#daily_planner_page .day-planner .day-planner-time input {
  padding: 20px 45px;
  padding-top: 32px;
  border-radius: 5px;
  font-size: 30px;
  width: 100%;
  outline: none;
  border: none;
  color: black;
}

#motivation_page .motivation_page_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#motivation_page .motivation_page_container .motivation-container {
  min-height: 600px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: rebeccapurple;
  border-radius: 40px;
  padding: 15px;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  top: 5%;
  opacity: 0.2;
  height: 120px;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper .motivation-1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper .motivation-1 h2 {
  padding: 30px;
  background-color: rgba(0, 0, 255, 0.433);
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper .motivation-2 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper .motivation-2 h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper .motivation-3 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#motivation_page .motivation_page_container .motivation-container .motivation-wrapper .motivation-3 h2 {
  padding: 30px;
  background-color: rgba(0, 0, 255, 0.433);
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}

#pomodore_timer_page h2 {
  font-size: 50px;
}
#pomodore_timer_page .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(23, 115, 23);
  padding: 15px 30px;
  font-size: 40px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
#pomodore_timer_page .pomo-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#pomodore_timer_page .pomo-timer h1 {
  font-size: 170px;
}
#pomodore_timer_page .pomo-timer button {
  background-color: rgb(23, 40, 78);
  color: white;
  padding: 15px 40px;
  font-size: 40px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 0px black;
  font-weight: 500;
  transition: all ease 0.1s;
}
.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}

.close-container:hover label {
  opacity: 1;
}

.elem:active {
  scale: 0.97;
}

.elem:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.main #to_do_page .todo-container .addTask form button:active {
  scale: 0.97;
}

.main #motivation_page .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(223, 203, 203);
  border-radius: 40px;
  scale: 1.15;
  z-index: 8;
  filter: blur(150px);
}

.main #pomodore_timer_page .pomo-timer button:active {
  box-shadow: 0px 0px 0px black;
}/*# sourceMappingURL=style.css.map */