:root {
    --pri: rgb(239 250 234);
    --sec: rgb(156 227 130);
    --sec2: rgb(72 166 38);
    --tri: rgb(54 125 28);
    --tri2: rgb(18 42 9);
}

@font-face {
    font-family: light;
    src: url(./assests/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    src: url(./assests/AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: normal;
    src: url(./assests/AeonikTRIAL-Regular.otf);
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--pri);
}
html,
body {
    font-family: normal;
    width: 100%;
    height: 100%;
    background-color: var(--tri);
}
.main{
    background-color: var(--tri2);
    // height: 100%;
    // margin: 20px 20px 20px 20px;
    nav {
        height: 91px;
        width: 100%;
        background-color: var(--pri);
    }
    .allElem {
        display: flex;
        height: 100vh;
        flex-wrap: wrap;
        align-items: first start;
        padding: 30px;
        gap: 30px;
        .elem {
            height: 350px;
            width: 250px;
            background: rgba(255, 255, 255, 0.29);
            border-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.2px);
            -webkit-backdrop-filter: blur(9.2px);
            border: 2px solid rgba(255, 255, 255, 0.44);
            overflow: hidden;
            transition: all ease 0.3;
            h2 {
                position: absolute;
                font-size: 30px;
                right: 5%;
                bottom: 4%;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .fullElem {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: var(--tri2);
        z-index: 999;
        top: 0;

        .back {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 5%;
            top: 5%;
            // background-color: rgb(148, 139, 139);
            border-radius: 50px;
            border-style: none;
            cursor: pointer;
        }
    }
    #to_do_page {
        h2 {
            font-size: 65px;
        }
        .todo-container {
            height: 100vh;
            width: 100%;
            margin-top: 40px;
            background-color: var(--sec);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .addTask {
                width: 33%;
                height: 100%;
                background-color: rgb(206, 222, 237);
                border-radius: 20px;

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 30px;
                    gap: 10px;
                    input[type="text"] {
                        padding: 10px 25px;
                        width: 100%;
                        font-size: 28px;
                        background-color: var(--sec);
                        border-radius: 5px;
                        border: none;
                        outline: none;
                    }
                    textarea {
                        padding: 10px 25px;
                        width: 100%;
                        height: 280px;
                        font-size: 28px;
                        background-color: var(--sec);
                        border-radius: 5px;
                        border: none;
                        outline: none;
                    }
                    button {
                        padding: 10px 25px;
                        width: 100%;
                        font-size: 28px;
                        background-color: var(--tri);
                        border-radius: 5px;
                        font-weight: 700;
                        border: none;
                        outline: none;
                        transition: all ease-in 0.3;
                        cursor: pointer;
                    }
                    .mark-imp {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px 0;
                        margin-bottom: 10px;
                        margin-left: 8px;
                        width: 100%;
                        gap: 30px;
                        label {
                            font-size: 20px;
                        }
                        input {
                            scale: 1.5;
                        }
                    }
                }
            }
            .allTask {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: auto;
                border-radius: 20px;
                width: 65%;
                height: 100%;
                background-color: rgb(212, 237, 208);
                padding: 30px;
                .task {
                    border-radius: 10px;
                    display: flex;

                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 20px 30px;
                    margin-bottom: 10px;
                    background-color: var(--pri);

                    h5 {
                        color: black;
                        font-size: 30px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        span {
                            border-radius: 50px;
                            padding: 4px 6px;
                            background-color: red;
                            color: white;
                            font-size: 10px;
                        }
                        span.true {
                            opacity: 1;
                        }
                        span.false {
                            opacity: 0;
                        }
                    }
                    button {
                        padding: 15px 30px;
                        color: rgb(255, 255, 255);
                        background-color: rgb(3, 118, 35);
                        border: none;
                        font-size: 20px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #daily_planner_page {
        h2 {
            font-size: 65px;
        }
        .day-planner {
            background-color: #7f2e2e;
            height: 85%;
            width: 100%;
            margin-top: 40px;
            border-radius: 10px;
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            overflow: auto;

            .day-planner-time {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 10px;
                width: 49%;
                p {
                    position: absolute;
                    top: 10%;
                    left: 1%;
                    color: black;
                    font-size: 18px;
                }

                input {
                    padding: 20px 45px;
                    padding-top: 32px;
                    border-radius: 5px;
                    font-size: 30px;
                    width: 100%;
                    outline: none;
                    border: none;
                    color: black;
                }
            }
        }
    }
    #motivation_page {
        .motivation_page_container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .motivation-container {
                min-height: 600px;
                width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 40px;

                .motivation-wrapper {
                    z-index: 10;
                    position: absolute;
                    // height: 100%;
                    width: 100%;
                    background-color: rebeccapurple;
                    border-radius: 40px;
                    padding: 15px;
                    img {
                        position: absolute;
                        right: 5%;
                        top: 5%;
                        opacity: 0.2;
                        height: 120px;
                    }
                    .motivation-1 {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        h2 {
                            padding: 30px;
                            background-color: rgba(0, 0, 255, 0.433);
                            border-radius: 30px;
                            width: fit-content;
                            font-size: 40px;
                            font-weight: 500;
                            text-align: right;
                        }
                    }
                    .motivation-2 {
                        padding: 10px;
                        margin-top: 40px;
                        margin-bottom: 40px;
                        h1 {
                            font-size: 60px;
                            font-weight: 700;
                            color: white;
                        }
                    }
                    .motivation-3 {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        h2 {
                            padding: 30px;
                            background-color: rgba(0, 0, 255, 0.433);
                            border-radius: 30px;
                            width: fit-content;
                            font-size: 40px;
                            font-weight: 500;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    #pomodore_timer_page{

        h2{
            font-size: 50px;
        }
        .session{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%,0);
            background-color: rgb(23, 115, 23);
            padding: 15px 30px;
            font-size: 40px;
            border-radius: 5px;
            color: rgb(255, 255, 255);
        }
        .pomo-timer{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            h1{
                font-size: 170px;
            }
            button{
                background-color: rgb(23, 40, 78);
                color: white;
                padding: 15px 40px;
                font-size: 40px;
                margin: 10px;
                border-radius: 5px;
                border: none;
                box-shadow: 3px 3px 0px black;
                font-weight: 500;
                transition: all ease 0.1s;
            }
            .start-timer{

            }
            .pause-timer{

            }
            .reset-timer{

            }

        }
    }
}
.elem:active {
    scale: 0.97;
}
.main #to_do_page .todo-container .addTask form button:active {
    scale: 0.97;
}
.back:hover {
    scale:1.1;
    background-color: rgb(237, 63, 63);
}
.main #motivation_page .motivation-container::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(223, 203, 203);
    border-radius: 40px;
    scale: 1.15;
    z-index: 8;
    filter: blur(150px);
}
.main #pomodore_timer_page .pomo-timer button:active{
    box-shadow: 0px 0px 0px black;
}
