:root {
  --pri: rgb(239 250 234);
  --sec: rgb(156 227 130);
  --sec2: rgb(72 166 38);
  --tri: rgb(54 125 28);
  --tri2: rgb(18 42 9);
}

@font-face {
  font-family: light;
  src: url(./assests/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: bold;
  src: url(./assests/AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: normal;
  src: url(./assests/AeonikTRIAL-Regular.otf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: var(--pri);
}

html,
body {
  font-family: normal;
  width: 100%;
  height: 100%;
  background-color: var(--tri);
}

.main {
  background-color: var(--tri2);
  margin: 20px 20px 20px 20px;
}
.main nav {
  height: 91px;
  width: 100%;
  background-color: var(--pri);
}
.main .allElem {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  align-items: first start;
  padding: 30px;
  gap: 30px;
}
.main .allElem .elem {
  height: 350px;
  width: 250px;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 2px solid rgba(255, 255, 255, 0.44);
  overflow: hidden;
  transition: all ease 0.3;
}
.main .allElem .elem h2 {
  position: absolute;
  font-size: 30px;
  right: 5%;
  bottom: 4%;
}
.main .allElem .elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .fullElem {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--tri2);
  z-index: 999;
  top: 0;
}
.main .fullElem .back {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 5%;
  top: 5%;
  background-color: rgb(148, 139, 139);
  border-radius: 50px;
  border-style: none;
  cursor: pointer;
}
.main #to_do_page h2 {
  font-size: 65px;
}
.main #to_do_page .todo-container {
  height: 100vh;
  width: 100%;
  margin-top: 40px;
  background-color: var(--sec);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main #to_do_page .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: rgb(206, 222, 237);
  border-radius: 20px;
}
.main #to_do_page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
}
.main #to_do_page .todo-container .addTask form input[type=text] {
  padding: 10px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
}
.main #to_do_page .todo-container .addTask form textarea {
  padding: 10px 25px;
  width: 100%;
  height: 280px;
  font-size: 28px;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
}
.main #to_do_page .todo-container .addTask form button {
  padding: 10px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--tri);
  border-radius: 5px;
  font-weight: 700;
  border: none;
  outline: none;
  transition: all ease-in 0.3;
  cursor: pointer;
}
.main #to_do_page .todo-container .addTask form .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-left: 8px;
  width: 100%;
  gap: 30px;
}
.main #to_do_page .todo-container .addTask form .mark-imp label {
  font-size: 20px;
}
.main #to_do_page .todo-container .addTask form .mark-imp input {
  scale: 1.5;
}
.main #to_do_page .todo-container .allTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  border-radius: 20px;
  width: 65%;
  height: 100%;
  background-color: rgb(212, 237, 208);
  padding: 30px;
}
.main #to_do_page .todo-container .allTask .task {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: var(--pri);
}
.main #to_do_page .todo-container .allTask .task h5 {
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main #to_do_page .todo-container .allTask .task h5 span {
  border-radius: 50px;
  padding: 4px 6px;
  background-color: red;
  color: white;
  font-size: 10px;
}
.main #to_do_page .todo-container .allTask .task h5 span.true {
  opacity: 1;
}
.main #to_do_page .todo-container .allTask .task h5 span.false {
  opacity: 0;
}
.main #to_do_page .todo-container .allTask .task button {
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(3, 118, 35);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.main #daily_planner_page {
  background-color: red;
}

.elem:active {
  scale: 0.97;
}

.main #to_do_page .todo-container .addTask form button:active {
  scale: 0.97;
}

.back:hover {
  scale: 1.02;
}/*# sourceMappingURL=style.css.map */