*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100% ;
}
h1{
    font-size: 100px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d40d0d00;
}
h5{
    font-size: 30px;
}
h1{
    padding: 10px 10px;
    background-color: rgb(125, 125, 125);
    word-spacing: 10px;
    border-radius: 8px;
    font-family: monospace;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    background-color: #fff;
    margin-top: 12px;
    text-align: center  ;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#008000 ;
    font-weight: 600;           
}
button:active{
    scale: 0.95;
}