* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    background-color: rgb(188, 189, 157);
    height: 100%;
    width: 100%;
}
/* aswa */
.images {
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
    ;
    gap: 1rem;
}

.images img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    /* display: ; */
    border-radius: 18px;
}

#image-a {
    grid-area: a;
}

#image-b {
    grid-area: b;
}

#image-c {
    grid-area: c;
}

#image-d {
    grid-area: d;
}

#image-e {
    grid-area: e;
}

#image-f {
    grid-area: f;
}

#image-g {
    grid-area: g;
}

#image-h {
    grid-area: h;
}

#image-i {
    grid-area: i;
}

#image-j {
    grid-area: j;
}

@media(min-width : 484px) {
    .images {
        grid-template-areas:
            "a a b c"
            "a a d e"
            "f g h h"
            "i j h h"
        ;
    }
}